.container {
  display: flex;
}

.poster {
  background-color: var(--primary);
  flex: 3;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.image {
  margin-bottom: 2rem;
  position: relative;
  display: flex;
  justify-content: center;
  z-index: 1; 
}
.circle{
  position: absolute;
  width: 300px; 
  height: 300px;
  border-radius: 50%;
  background: #317F8B;
  z-index: -1;
}
.outlet {
  height: 100vh;
  flex: 2;
  display: flex;
  align-items: center;
  justify-content: center;
}
