.container {
  padding: 3rem 2rem;
  border: 2px solid #edf5fe;
  width: 40%;
  min-width: 350px;
  max-width: 550px;
  border-radius: 0.5rem;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  overflow: hidden; 
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 70px;
}
.assignee {
  width: 50px;
  height: 50px;
  background: #FFEBEB;
  display: flex;
  z-index: 100;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  text-transform: uppercase;
  
  cursor: pointer;
  
}
.moderate {
  color: #18b0ff;
  font-size: 2rem;
}
.low {
  color: #63c05b;
  font-size: 2rem;
}

.high {
  color: #ff2473;
  font-size: 2rem;
}

.card-title-container {
  position: relative;
  display: inline-block;
  width: 60%; 
  text-overflow: ellipsis;
  white-space: nowrap;
  cursor: pointer;
}

.tooltip {
  visibility: hidden;
  background-color: #333;
  color: var(--main-color);
  text-align: center;
  border-radius: 4px;
  padding: 4px 8px;
  position: absolute;
  z-index: 10;
  top: -160%;
  left: 70%;
  transform: translateX(-50%);
  white-space: nowrap;
  opacity: 0;
  margin-bottom: 5px; 
}
.tooltip::before {
  position: absolute;
  content: "";
  height: 0.6em;
  width: 0.6em;
  bottom: -0.2em;
  left: 30%;
  transform: translate(-50%) rotate(45deg);
  background:#333;
}

.card-title-container:hover .tooltip {
  visibility: visible;
  opacity: 1;
}

.text-truncate {
  display: block;
  max-width: 150px; 
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.lists {
  max-height: 50vh;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  margin-top: 2rem;
  overflow-y: auto;
}

.list {
  display: flex;
  align-items: center;
  gap: 1rem;
  padding: 0.75rem;
  border: 2px solid #e2e2e2;
  border-radius: 0.75rem;
  /* background-color: #18b0ff; */
}

.list input[type='checkbox'] {
  width: 1rem;
  height: 1rem;
  accent-color: var(--primary);
}

.list input[type='checkbox'][disabled] {
  accent-color: var(--primary);
}

.dueDate {
  display: flex;
  gap: 1rem;
  margin-top: 0.5rem;
}

